Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} !^localhost$ [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

<FilesMatch "(\.sqlite|config\.php|\.log)$">
Require all denied
</FilesMatch>

<IfModule mod_headers.c>
Header always set Permissions-Policy "geolocation=(self)"
Header always set X-Content-Type-Options "nosniff"
</IfModule>
