<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:resizeableActivity="true"
        android:label="EstradaPlay"
        android:supportsRtl="true"
        android:theme="@style/Theme.EstradaPlay"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".GateActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AutomotiveActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".RoadMapActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" />

        <service
            android:name=".DownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".PlayerService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name=".RoadSafetyService"
            android:exported="false"
            android:foregroundServiceType="location" />
    </application>
</manifest>
